[Unit]
Description=Rockpi SATA Hat

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/rockpi-quad/main.py
KillSignal=SIGINT
EnvironmentFile=/etc/rockpi-quad.env
Restart=on-failure
WorkingDirectory=/usr/bin/rockpi-quad

[Install]
WantedBy=multi-user.target
