Package: rockpi-quad
Version: 0.2
Architecture: all
Maintainer: Radxa <dev@radxa.com>
Depends: python3, python3-libgpiod, python3-pillow, python3-pip
Section: utils
Priority: optional
Homepage: https://github.com/radxa/rockpi-penta
Description: Rockpi Quad Hat
