[Unit]
Description=Rockpi SATA Hat

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/rockpi-penta/main.py
EnvironmentFile=/etc/rockpi-penta.env
Restart=on-failure
WorkingDirectory=/usr/bin/rockpi-penta

[Install]
WantedBy=multi-user.target
